body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: brown;
    background-image: url(https://e0.pxfuel.com/wallpapers/518/556/desktop-wallpaper-smooth-nature-autumn-leaves-blur-branch-foliage.jpg);
    background-position: fixed;
    background-size: cover;
    
}
h1{
    text-align: center;
    font-family:cursive;
}
#main{
    height: 80%;
    width:80%;
    top: 5vh;
    background-color: rgb(217, 225, 139);
    margin-left: 10%;
    border: 2px white solid;
    border-radius: 2vh;
}
#main:hover{
    animation: glow 2s infinite alternate;
    box-shadow: 0 0 8px #f2cd75, 0 0 16px #f8e461, 0 0 24px #efb971;
}
@keyframes glow {
    from {
        box-shadow: 0 0 8px #f2cd75, 0 0 16px #f8e461, 0 0 25px #efb971;
    }
    to {
        box-shadow: 0 0 16px #f2cd75, 0 0 16px #f8e461, 0 0 25px #efb971;
    }
  }
#desc{
    border:0px;
    height: 100%;
    width: 98%;

}
#descDiv{
    height:40%;
    width:100%;
    margin: 0px;  
}
#descDiv:hover{
    background-color: rgb(225, 241, 251);
}
#categoryDiv{
    display: inline-block;
    width: 53%;
    height: fit-content;
    text-align: center;
    margin-bottom: 5px;
}
#categoryDiv:hover{
    background-color: rgb(243, 224, 160);
}
form p{
    margin-left: -100px;
    display: inline;
    font-size: smaller;
}
#categoryChoice{
 width: 20vh;
}

#dateDiv{
    display: inline-block;
    width:46%;
    height:fit-content !important;
    text-align: center;  
    height: 50px;
}
#dateDiv:hover{
   background-color: rgb(243, 224, 160);
   
}


label{
    display: block;
    font-weight: 600;
   
}
form div{
    margin-top: 5px;
}
button{
    height: 50px;
    width: 200px;
    margin-top: 30px;
}
#addTask{
    background-color:rgb(176, 249, 176);
   
}
#addTask:hover{
    background-color: rgb(78, 116, 81);
}
.fa-trash{
    color: rgb(251, 84, 84);
}
#listItems{
    margin: 5px;
    list-style:none;
    padding: 1.5vh;
    margin-left: 6%;
    border:2px rgb(169, 134, 4) solid;
    background-color:rgb(244, 217, 119);
    border-radius: 2vh;
    width:80%;
    
}
#listItems h3{
    color: brown;
}
h4{
    margin: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
}
#listItemCat{
    background-color: rgb(186, 202, 255); height: 40px; width: 100px; display: inline-block;
    margin-left: 55%;
    text-align: center;
    font-weight: 500;
    border: 1px gray solid;
    border-radius: 20px;
    margin-top: 1px;
}

#taskList p{
    display: inline-block;
}
ol, ul {
    padding-left: 0rem !important;
}
